.title-container {
  position: relative;
  display: inline-block;

  margin-top: 5rem; /* 80px */
  margin-bottom: 2rem;
  overflow: hidden;
}

.top-left__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-right: 2px solid #6d91ee;
  transform: rotate(45deg) translateX(-81%);
}

.top-right__border {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-bottom: 2px solid #6d91ee;
  transform: rotate(45deg) translateY(-81%);
}

.bottom-left__border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border-top: 2px solid #6d91ee;
  transform: rotate(45deg) translateY(81%);
}

.bottom-right__border {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-left: 2px solid #6d91ee;
  transform: rotate(45deg) translateX(81%);
}

.title {
  color: #6d91ee;
  text-align: center;
  font-size: 4rem; /*64px*/
  font-weight: 900;
  line-height: 139.844%; /* 89.5px */
  padding: 1rem;
}

/* 1476px */
@media screen and (max-width: 92.25em) {
  .title-container {
    margin-top: 4rem; /* 80px */
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 3rem;
    padding: 0.7rem;
  }
}
/* 1142px */
@media screen and (max-width: 71.375em) {
  .title-container {
    margin-top: 4rem; /* 80px */
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 3rem;
    padding: 0.7rem;
  }
}
/* Media query for screens smaller than a tablet 900px */
@media screen and (max-width: 56.25em) {
  .title-container {
    margin-top: 3rem; /* 80px */
    margin-bottom: 1.2rem;
  }

  .title {
    font-size: 3rem;
    padding: 0.7rem;
  }
}
/* 290px */
@media screen and (max-width: 18.125em) {
  .title-container {
    margin-top: 1rem; /* 80px */
    margin-bottom: 1rem;
  }

  .title {
    font-size: 2rem;
    padding: 0.5rem;
  }
}
